<a href="https://colab.research.google.com/github/stv-rajgithubrit/python_notes/blob/main/Mypython%26_e_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#-->single line commenting
#1. What is Python?
'''A. High-level Programming Language
B. General purpose
c. Object oriented programmin language
D. Interpreted language
e. dynamically typed'''

In [ ]:
#why we require comminting?
#better understanding of the code

In [ ]:
#what is an IDE?
#integreted development environment-->code executer, compiler, write our code and display our code
# google colbnote book, jupyter notebook, pycharm...etc

In [ ]:
#Numerical data types
#3 types of numerical data types
#1. integer:- A whole number without decimal points
#print():-to display our ouput
print(10)
#how can you find the data type?
#type():- used for to know the data type
print(type(10))

10
<class 'int'>

In [ ]:
#float:- a whole number either -ve or +ve with decimal points.
print(10.5)
print(type(10.5))
print(2.35)
print(type(2.35))
print(1.0)
print(type(-1.0))

10.5
<class 'float'>
2.35
<class 'float'>
1.0
<class 'float'>

In [ ]:
#complex numbers:- A real number with its imaginary part
print(2+4j)
print(type(2+4j))
#what is "j'?
#j --> iota-->root -1

(2+4j)
<class 'complex'>

***Arthamatic operators***

In [ ]:
#what are all arthamatic operators?
#Addition:--->"+"
print(10 + 5)
print(type(10 + 5))
#substraction---> "-"
print(10 - 5)
#multiplication----> "*"
print(10 * 5)
#division----> "/" (forward slash)
print(10 / 5)
print(type(10 / 5))

15
<class 'int'>
5
50
2.0
<class 'float'>

In [ ]:
#exponential:- to the power off --> **
print(2 ** 3)
print(type(2 ** 3))

8
<class 'int'>

In [ ]:
#floor division:- it will ignores the values after decimal points
#doneted with--> "//"

print(10 / 3)
print(10 // 3)

3.3333333333333335
3

In [ ]:
#Modulus :- --->"%"-->remainder of a division

print(10 % 3)
print(type(10 % 3))

print(10 % 2)
print(type(10 % 2))

1
<class 'int'>
0
<class 'int'>

In [ ]:
#find the given number is odd or even?
print(5 % 2) #odd--- in modulus if you get o/p as 1
print(6 % 2) #even -- in modulus if u get o/p as 0

1
0

In [ ]:
#what is a floor value?
#it is value before decimal point

**Types of Errors**

In [ ]:
#there are 2 types pof error
#1.syntax error:- if you break the rules of programming language you have syntax error
#ex:-print(10 * * 3)

In [ ]:
#2.Logical errors:- except syntax error all the errors comes under logical error
# ex:- indentation error, type error, recurissive  error...etc

**Round()**

In [ ]:
#it will give the nearest value means we are rounding off the value
print(round(10.5))
print(round(10.6))
#note: if the values are equals to or less than (0.5) point 5 thw round off value can be floor value

10
11

In [ ]:
#print round off value of 2.3456?
print(round(2.3456))
#if i want to print number with 2 decimal point?
print(round(2.3456,2))
#print 1st 3 decimal points?
print(round(2.3456,3))

2
2.35
2.346

In [ ]:
#what is ceiling value?
#when you use round off fuction if the value is more than point 5(0.5) it will go for neares upcoming value
#so upcoming value is known as ceiling value.

In [ ]:
print("hello world!")

hello world!

In [ ]:
#print first 3 decimals from the given 9.6543?
#9.65
print(round(9.6543,3))

9.654

***Variables***

In [ ]:
#why we are using the variables?
#A containers where we can store our valuable information and whenever you want you reuse it
#how can we create an variable?
""" lets say father age is x and son
age is 1/2 father age"""
x = 40
son_age = x/2
#how we access an varaible?
print(son_age)

20.0

In [ ]:
#please do all the arthamatic operation by using 2 varible?
x = 10
y = 5
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x ** y)
print(x // y)
print(x % y)

15
5
50
2.0
100000
2
0

In [ ]:
#rules to follow for writing varible
#1. varible can written by using alphabets
a = "hello world!"
print(a)
#2. you can not start with the numbers
#2 ="hello world"
#print(2)
#3. if you follow rule 1 and 2 then you can start with alphabets in between you use number
hello2 = "hello world"
print(hello2)
#4.you start with _
_ = 10
print(_)
#5.you cannot you the special chartacters
# @ = 10
# print(@)
#6. you cannot give spaces in between variables
# a b c = 10,20,30
# print(a,b,c)
#7. dont star a varible name with capital letter
#8.varibles are case sensitive

hello world!
hello world
10

In [ ]:
#varibles are case sensitive
c = 10
print(C)
#Note:- By this we can say python " is an case sensitive language"

In [ ]:
#smart ways of writing varibles?
#1.Assign multiple values to multiple varibles and print it?
a,b,c = 10,20,30
print(a,b,c)
a = 10
b = 20
c = 30
print(a,b,c, sep='\n')

10 20 30
10
20
30

In [ ]:
#assign single value to the multiple varible and print it?
a = 10
b = 10
c = 10
#print(a,b,c)

a = b = c = 10
# print(a,b,c)
#print the output in seprate line?
#we are using "sep = "\n"" to print the output in n no. of lines
# print(a)
# print(b)
# print(c)
print(a,b,c, sep="\n")

10
10
10

***input()***

In [ ]:
#what is input()?
#it will takes what ever information given by user
#how to create input()?
#to create input function we are using "input()" along with varible
#how to access the input()?
# with help of input varible we can access the input() values.

#what is use of input()?
#we can give multiple values to the single variable

In [ ]:
#we can give multiple user values to the single variable
a = input()
print(a)
print(type(a))
#what is default data type for input()?
#string

2+iJ
2+iJ
<class 'str'>

In [ ]:
#create  2 input() program and do all the arthamatic operation?
a = float(input())
b = float(input())
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)
print(a // b)
print(a % b)
print(type(a % b))

7
10
17.0
-3.0
70.0
0.7
282475249.0
0.0
7.0
<class 'float'>

In [ ]:
a  = input("enter the number :" )
print(a)

enter the number :10
10

**string**

In [ ]:
#what is astring?
#string collection group of character which written inside " "
a = "hello world!"
print(a)
print(type(a))

hello world!
<class 'str'>

In [ ]:
#write a multiple line of string?
#"""  """ / ''' '''
#note:- when you start with double quotes end with double qouts and vice versa
a = """ Hi, hope your doing well,
you been sellected a for x position"""
print(a)

 Hi, hope your doing well,
you been sellected a for x position

In [ ]:
#how can you write a multiple line of message by using input()?
a = input("enter the message :")
print(a)

enter the message :hi hope your doing well
hi hope your doing well

In [ ]:
#note:string is collection multiple characters eacha and every charceter is accessble.
#how can we accesss each element in a string?
#indexing:- positional number of each and every element in a string
#slicing operator:- --->[]
#what is substring?
#getting a part from original string is know as substring

In [ ]:
#find the length of given string?
a = "hello world!"
#i am using "len()" to find klentght of character in string
print(len(a))

12

In [ ]:
a = "hello world!"
#print "h" from hello world?
#[start]
print(a[0])
#print "w" from hello word!?

h

In [ ]:
#print the range of characters?
#[start:end]
#print "hello" from hello world!?
print(a[0:5])
print(a[6:11])
#note:- if u want to display specific end cahracter you need add it with 1--> n+1

hello
world

In [ ]:
#i want to print step wise elements from a string?
#[start:end:step]
print(a[0:12:3])

hlwl

In [ ]:
#Negative indexing:- accesing the elements in string from reverse direction.
#print last character of the string?
a = "hello world!"
# print(a[-1])
#print world from hello world in -ve indexing?
print(a[-7:-1])

 world

In [ ]:
#but i want go in reverse direction
#step
a = "hello world!"
print(a[-1:-7:-1])

!dlrow

In [ ]:
#reverse a given string?
# "Univerese"
a = "Univerese"
print(a[-1:-10:-1])
#default methods
#[start:end:step]
print(a[::-1])

eserevinU
eserevinU

In [ ]:
#Tell weather a string is palindrome or not?
b = 'mom'
print(b)
print(b[::-1])

mom
mom

In [1]:
c = "hyderabad"
print(c)
print(c[::-1])

hyderabad
dabaredyh

In [2]:
string = "Hello, World!"
print(string[3:7])

lo,

In [3]:
string = "Hello, World!"
#[start:end:step]
print(string[::-2])

!lo olH

In [4]:
string = "Hello, World!"
print(string[::2])

Hlo ol!

In [5]:
#print the end element?
print(string[-1])

!

In [6]:
#print hello by using -ve indexing?
print(string[-8:-14:-1])

,olleH

**string methods**

In [7]:
x = "hello world!"
#what are all the methods i can apply on x = " hello world!"
#we are using "dir()" to know what are all the methods apply on strin
print(dir(x))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [8]:
#1.capitaize()
#2.upper()
#3.lower()
#4.replace() ***
#5.trim()
#6.ltrim()
#7.rtrim()
#8.title()
#9.swapcase()
#10.split()
#how can you applly string methods?
x = "hello world!"
print(x.upper())
print(x.lower())
print(x.title())
print(x.swapcase())

HELLO WORLD!
hello world!
Hello World!
HELLO WORLD!

**string formatmethod**

In [9]:
x = "10"
y = "my age is "
#print " my age is"
print(y+" " +x)

my age is  10

In [10]:
#what is string format method?
#FAILLING the placeholder{} with given arguments
#there are  format methods

In [11]:
#1st method
age = 40
string = "my age is {}"
print(string.format(age))

my age is 40

In [12]:
#2nd method
age = 40
string = "my age is {}".format(age)
print(string)

my age is 40

In [13]:
#3rd f'format method' ***
age = 40
string = f"my age is {age}"
print(string)

my age is 40

In [14]:
item = 'Product A'
price = 99.9
quantity = 20
#expected output: your order for product a number of items quantity priced at 99.99 is confiremd
text = "your order for {} number of items {} priced at {} is confiremd"

print(text.format(item,quantity,price))

your order for Product A number of items 20 priced at 99.9 is confiremd

In [15]:
item = 'Product A'
price = 99.9
quantity = 20
#expected output: your order for product a number of items quantity priced at 99.99 is confiremd
text = "your order for {} number of items {} priced at {} is confiremd".format(item,quantity,price)

print(text)

your order for Product A number of items 20 priced at 99.9 is confiremd

In [16]:
item = 'Product A'
price = 99.9
quantity = 20
#expected output: your order for product a number of items quantity priced at 99.99 is confiremd
text = f"your order for {item} number of items {quantity} priced at {price*quantity} is confiremd"

print(text)

your order for Product A number of items 20 priced at 1998.0 is confiremd

**conditional statements( control structures)**

In [ ]:
#what are all comparision operators do we have in python?
#1.equals to----> ==
#2.not equals---> !=
#3.greater than---> >
#4.less than ---> <
#5.greter than ---> >=
#6.less than ----> <=

In [17]:
print( 10 == 10)
print( 10 != 10)
print( 10 > 10)
print( 10 < 10)
print( 10 >= 10)
print( 10 <= 10)

True
False
False
False
True
True

In [18]:
print("Hello" == "hello")

False

In [19]:
#what are all conditional statements we are having?
#if,elif, else

In [20]:
marks = 34
passing_marks = 35
total_marks = 100
if marks >= passing_marks:
  print("congratulation")
  print(f'you have passed with {marks} marks')
else:
  print("better luck next time")
  print(f"you have got {marks} marks")

better luck next time
you have got 34 marks

In [21]:
#print a number if it os +ve print +ve and if it is _ve pribt "-ve" if it is zero print "neutral"
a = int(input())
if a > 0:
  print("+ve")
elif a == 0:
  print("neutral")
else:
  print("-ve")

-0
neutral

In [22]:
print(10 == 10)
print(not(10 == 10))

True
False

In [23]:
a = 10
b = 56
c = 455
#check the condition that s is lesser than b and b is lesser than c and b is greater than a
if a < b and b < c and b > a:
  print("yes")
else:
  print("no")

yes

In [24]:
a = 10
b = 56
c = 455
#check the condition that s is lesser than b and b is lesser than c and b is greater than a
if a > b or b < c or b > a:
  print("yes")
else:
  print("no")

yes

In [25]:
#Nested condition:
#when we have to use nested condition.
a = int(input())
#  i want display  all th conditions satified
if a > 10:
  print("a is greater than 10")
  if a > 20:
    print("a is greater than 20")
    if a > 30:
      print("a is greater than 30")
      if a > 50:
        print("a is greater than 50")
      else:
        print("a is lesser than 50")
    else:
      print("a is lesser tha 30")
  else:
    print(" ais  lesser tha 20")
else:
  print("a is less than 10")

70
a is greater than 10
a is greater than 20
a is greater than 30
a is greater than 50

In [26]:
#pass:- is a null place holder when you execute it nothing will happens
a = int(input(" enter your number: "))
if a > 0:
  print("+ve")

elif a == 0:
  pass

else:
  print("-ve")

 enter your number: 7
+ve

In [27]:
#check what grade we can give to the students based upon their marks?
#total marks = 100
#if the student get 90 to 100 --> A+
#if the student get 80 to 90 --> A
#if the student get 70 to 80 --> B+
#if the student get 60 to 70 --> B
#if the student get 50 to 60 --> c
#if the student get 40 to 50 --> D
#Below it display "better luck next time."

**Loops**

In [28]:
#why we use the loops
#we are using this loops to avoid "wet code" and to encourage "dry code."
#1. WET Code -->mean youare repeating the code.

""" w--> write
    e--> everything
    t---> twice """

#DRY Code  --> not repeating the same code
""" D --> Don't
    R ---> repeat
    y---> yourself"""
#how may types of loops in py prog lang?
# 1. while
#2. for loop

" D --> Don't\n    R ---> repeat\n    y---> yourself"

In [29]:
#While loop:- it works / runs a set of instruction as long as the conditions true.
target = 5
intial = 0
while intial < target:
  print("go down")
  print("go up")
  print("=====rep is completed=====")
  intial = intial + 2

go down
go up
=====rep is completed=====
go down
go up
=====rep is completed=====
go down
go up
=====rep is completed=====

In [30]:
#write a program to run a lift to reach 4th floor?
D = 4
i = 0
while i < D:
  print("reach destination")
  print("==================")
  i = i + 1

reach destination
==================
reach destination
==================
reach destination
==================
reach destination
==================

In [31]:
#let say i = 10 while the i value is less than 10 print the values of i upto 10?
i = 0
while i < 10:
  print(i)
  i = i + 1   # i += 1

0
1
2
3
4
5
6
7
8
9

In [32]:
d = 10
s = 0
while s <= d:
  print(s)
  s = s + 1

0
1
2
3
4
5
6
7
8
9
10

In [33]:
#print the muliples of 2 upto 10  for that write a program?
i = int(input())
target = int(input())
while i <= target:
  print(i)
  i = i * 2

2
7
2
4

In [35]:
#write a program weater the given string is palindrome or not?
a = input()
a_rev = a[::-1]
print(f'rev of string {a_rev}')
if a.upper() == a_rev.upper():
  print(f'{a} is palidrome')
else:
  print(f'{a} is not palindrome')

Malayalam
rev of string malayalaM
Malayalam is palidrome

In [36]:
print("malayalam"== "Malayalam")

False

In [37]:
a ="HydeRAbad"
print(a.lower())

hyderabad

In [38]:
#write a program to print multiples of 2 in the given list?
#list = [1,2,3,4,5,6,7,8,9,10]  #--->[2,4,6,8,10,12,14,16,18,20]
list = [1,2,3,4,5,6,7,8,9,10]
print(list * 2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**for loop**

In [39]:
#it runs a set of instruction overa collections(list, tuple, set, dictionary)
list = [1,2,3,4,5,6,7,8,9,10]
new_list = []
for i in list:
  print(i *2)

2
4
6
8
10
12
14
16
18
20

In [40]:
#print "hello world" in separate line?
x = "hello wordl"
for i in x:
  print(i)

h
e
l
l
o

w
o
r
d
l

In [42]:
#break & continue
#breaks :- stops the loops irrespective of entire.
#continue :- skip the current iteration
number = [1,2,3,4,5,6]
for i in number:
  if i < 3:
    break
  print(i)

In [43]:
number = [1,2,3,4,5,6]
for i in number:
  if i > 3:
    continue
  print(i)

1
2
3

In [44]:
#a =[10,20,30,40,50,60,70,80,90]
#skip 20,40,70
#o/p--: 10 30 50 60 80 90
a =[10,20,30,40,50,60,70,80,90]
for i in a:
  if i == 20 or i == 40 or i == 70:
    continue
  print(i)

10
30
50
60
80
90

In [45]:
#using range function in a loop
#range(start)
#print number from 1 to 10?
#note: range function is used only in foor loop.
for i in range(11):
  print(i)

#use input() and print range of number as per user input?

0
1
2
3
4
5
6
7
8
9
10

In [46]:
#if i want the number start from 2 and till user given input
#range(start,end)
a = int(input())
for i in range(2,a+1):
  print(i)

7
2
3
4
5
6
7

In [ ]:
#i want to print range of 100 number but i want print all the even number upto 100
#range(start,end,step)
for i in range(0,101,2):
  print(i)

In [48]:
#write the program to print range odd number from user inuput()?
a = int(input())
for i in range(a):
  if i % 2 != 0:
    print(i)

9
1
3
5
7

**collections**

In [ ]:
#1.List
#2.Tuple
#3.Set
#4.Dictionary

In [49]:
#what is a list?
#List:-created with []
#--ordered, allows duplicates, mutable(chnagable)
l1 = ['apple',"banana",'mango','strawberry','Blueberry']
print(l1)
print(type(l1))
#what can be stored in a list?
l2 = ['True','False','True','False']
print(l2)
print(type(l2))
l3 =[1,2,3,4,5,6,7,8,9,10]
print(l3)
print(type(l3))

['apple', 'banana', 'mango', 'strawberry', 'Blueberry']
<class 'list'>
['True', 'False', 'True', 'False']
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [50]:
#print above l1,l2,l3 data types in singles with sep function
print(type(l1),type(l2),type(l3),sep = "\n")

<class 'list'>
<class 'list'>
<class 'list'>

In [51]:
#list allows duplicats means prints duplicate values also
l1 = ['apple',"banana",'mango','strawberry','Blueberry','apples','banana','grapes']
print(l1)

['apple', 'banana', 'mango', 'strawberry', 'Blueberry', 'apples', 'banana', 'grapes']

In [52]:
#list are ordered.
#what is ordered?
#means we can access each and every element in list by using indexing position numbers
l1 = ['apple',"banana",'mango','strawberry','Blueberry','apples','banana','grapes']
print(l1[0])
print(l1[3:6])
print(l1[::2])
print(l1[::-1])

apple
['strawberry', 'Blueberry', 'apples']
['apple', 'mango', 'Blueberry', 'banana']
['grapes', 'banana', 'apples', 'Blueberry', 'strawberry', 'mango', 'banana', 'apple']

In [53]:
#How you can say a collection is mutable?
"""1. swapping #A--->B and B---> A
2. Adding --> adding new items to the list
3. Removing --> removing items from the list"""

'1. swapping #A--->B and B---> A\n2. Adding --> adding new items to the list\n3. Removing --> removing items from the list'

In [54]:
#swapping
l1 = ['apple',"banana",'mango','strawberry','Blueberry','apples','banana','grapes']
l1[0]='orange'
print(l1)

['orange', 'banana', 'mango', 'strawberry', 'Blueberry', 'apples', 'banana', 'grapes']

In [ ]:
l1['apple'] = 'kiwi'
printl1

In [ ]:
#swap the elememts  fron index 1 to 4 ?

In [56]:
l1[1:4] = ['blackberry','water,elon','kiwi']
print(l1)

['orange', 'blackberry', 'water,elon', 'kiwi', 'Blueberry', 'apples', 'banana', 'grapes']

In [57]:
#Append :- adding the extra element/ data at end of the list
l1 = ['apple',"banana",'mango','strawberry','Blueberry','grapes']
l1.append('orange')
print(l1)
#what is the default index position when you use append method?
#end position
#if i want to add more than 2 elements with append is it possible?
#NO  --> append can take only one argument
# l1.append('orange', 'kiwi', 'watermelon')
# print(l1)

['apple', 'banana', 'mango', 'strawberry', 'Blueberry', 'grapes', 'orange']

In [58]:
#insert method:- inserting data at certain position -->(insert(index number, "item name"))
l1 = ['apple',"banana",'mango','strawberry','Blueberry','grapes']
l1.insert(2,'orange')
print(l1)

['apple', 'banana', 'orange', 'mango', 'strawberry', 'Blueberry', 'grapes']

In [59]:
#extend method:- add the items from the other collection
l2=[1,2,3,4,5,6,7,8,9,10]
# l1.extend(l2)
l1.append(l2)
print(l1)

['apple', 'banana', 'orange', 'mango', 'strawberry', 'Blueberry', 'grapes', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [60]:
#i want to insert another collection at particular indexc?
l3 = ["python","java","c++"]
l1 = ['apple',"banana",'mango','strawberry','Blueberry','grapes']
l1.insert(2,l3)
print(l1)

['apple', 'banana', ['python', 'java', 'c++'], 'mango', 'strawberry', 'Blueberry', 'grapes']

In [61]:
#access the 2nd position element and print only python?
print(l1[2][0])

python

In [62]:
#removing of elements in a list?
#remove(item or index position number)
l1 = ['apple',"banana",'mango','strawberry','Blueberry','grapes','@',"&"]
l1.remove('banana')
print(l1)
#

['apple', 'mango', 'strawberry', 'Blueberry', 'grapes', '@', '&']

In [63]:
l1 = ['apple',"banana",'mango','strawberry','Blueberry','grapes','@',"&"]

In [ ]:
f1()

In [65]:
#pop:--->pop(index) --> you should have to ive only index

l1.pop(2)
print(l1)

['apple', 'banana', 'strawberry', 'Blueberry', 'grapes', '@', '&']

In [66]:
#3rd. delete -->del collection_name[index_pos_number]
del l1[2]
print(l1)

['apple', 'banana', 'Blueberry', 'grapes', '@', '&']

In [67]:
#4th clear
l1 = ['apple',"banana",'mango','strawberry','Blueberry','grapes','@',"&"]
l1.clear()
print(l1)

[]

In [ ]:
l1 = ['apple',"banana",'mango','strawberry','Blueberry','grapes','@',"&"]
del l1
print(l1)

In [69]:
#tuple--> ()
#ordered, immutable, allows duplicates
t1 = ('apple','banana','mango','strawberry','Blueberry','grapes')
print(t1)
print(type(t1))

('apple', 'banana', 'mango', 'strawberry', 'Blueberry', 'grapes')
<class 'tuple'>

In [70]:
#allows duplicates
t1 = ('apple','banana','mango','strawberry','Blueberry','grapes','apple','banana','grapes')
print(t1)

('apple', 'banana', 'mango', 'strawberry', 'Blueberry', 'grapes', 'apple', 'banana', 'grapes')

In [71]:
#tuple are ordered
t1 = ('apple','banana','mango','strawberry','Blueberry','grapes')
print(t1[3])
#print 'banana','mango','strawberry','Blueberry' from above collection?
print(t1[1:5])
#print even position elements of above collection?
print(t1[::2])
#print revere of above collection
print(t1[::-1])

strawberry
('banana', 'mango', 'strawberry', 'Blueberry')
('apple', 'mango', 'Blueberry')
('grapes', 'Blueberry', 'strawberry', 'mango', 'banana', 'apple')

In [ ]:
#tuple is mmutable
t1 = ('apple','banana','mango','strawberry','Blueberry','grapes')
l = list(t1)

In [ ]:
#How can you add new items in the given tuple? take an example and do it?
#what is diff b\w list and tuple?
#when i should use list and when i should use tuple?

In [73]:
#set-->{}
#unordered, it wont allow duplicates, immutable
s1 = {'apple','banana','mango','strawberry','Blueberry','grapes','apple','banana','grapes' }
print(s1)
print(type(s1))

{'Blueberry', 'mango', 'apple', 'grapes', 'banana', 'strawberry'}
<class 'set'>

In [ ]:
#sets are unoredered
print(s1[0])

In [75]:
#why sets are immutable?
"""so in sets we can can add new elements/items and we can remove the items but we
 cannot swap(replace) items because sets desont have specific index position"""

'so in sets we can can add new elements/items and we can remove the items but we\n cannot swap(replace) items because sets desont have specific index position'

In [76]:
#add items in to set
#1.add(item name)
s1 ={"dog","horse","hen","elephant"}
s1.add("cow")
print(s1)

{'hen', 'horse', 'dog', 'elephant', 'cow'}

In [77]:
#update method:- we can update other collection values in the taken set\\
l = [1,2,3,4,5,6]
s1.update(l)
print(s1)

{1, 'hen', 2, 3, 4, 5, 6, 'horse', 'dog', 'elephant', 'cow'}

In [78]:
#1. remove
s1.remove("elephant")
print(s1)

{1, 'hen', 2, 3, 4, 5, 6, 'horse', 'dog', 'cow'}

In [79]:
#discard method:-
s1.discard("hen")
print(s1)

{1, 2, 3, 4, 5, 6, 'horse', 'dog', 'cow'}

In [80]:
#pop method
s1.pop()
print(s1)

{2, 3, 4, 5, 6, 'horse', 'dog', 'cow'}

In [ ]:
#del
del s1
print(s1)

In [82]:
#clear
s2 = {1,2,3,4,5,6,7,8,9,10}
s2.clear()
print(s2)

set()

In [83]:
#what is the main reason we use sets?
s1 = {'a','b','c','d'}
s2 = {'d','e', 'f','g'}
s4 = s1.intersection(s2)
print(s4)

{'d'}

In [84]:
s3 = s1.union(s2)
print(s3)

{'a', 'c', 'f', 'e', 'd', 'g', 'b'}

**Heterogenous data and homogenous data**

**Dictionary**

In [85]:
#where we can store our items in a dictionary?
#A) key:value pairs
#dictionary--> {}
#-->unordered, it won't allow duplicates, mutable

In [86]:
d1 = {
    "name":"python",
    "last_name": "programming",
    "age":29,
    "module":True
}
print(d1)
print(type(d1))

{'name': 'python', 'last_name': 'programming', 'age': 29, 'module': True}
<class 'dict'>

In [87]:
#how can we print keys and values separetly?
print(d1.keys())
print(d1.values())

dict_keys(['name', 'last_name', 'age', 'module'])
dict_values(['python', 'programming', 29, True])

In [88]:
#print each item()
print(d1.items())

dict_items([('name', 'python'), ('last_name', 'programming'), ('age', 29), ('module', True)])

In [89]:
#python is an interpreted langugae?
#yes
d1 = {
    "name":"python",
    "last_name": "programming",
    "age":29,
    "module":True,
    "name":"java",
    "age": 50
}
print(d1)

{'name': 'java', 'last_name': 'programming', 'age': 50, 'module': True}

In [90]:
#dict wont allow duplicates
d1 = {
    "name":"python",
    "last_name": "programming",
    "age":29,
    "module":True,
    "name":"python",
    "last_name": "programming",
    "age":29,
    "module":True
}
print(d1)

{'name': 'python', 'last_name': 'programming', 'age': 29, 'module': True}

In [91]:
#find lenghth of dict1?
print(len(d1))

4

In [ ]:
#dict is an unordered?
print(d1[0])
#note:- from the above example we can say dict is unordered

In [94]:
#how can we access elements from the dictionary?
#by usin keys we can access the elements from dictionary
print(d1['name'])
print(d1.get('name'))

python
python

In [95]:
#How can we change values to the particular key?
d1['name'] = 'c++'
print(d1)

{'name': 'c++', 'last_name': 'programming', 'age': 29, 'module': True}

In [96]:
#update is also similar method we are using to update/replace values in dict
d1.update({'module':'yes'})
print(d1)

{'name': 'c++', 'last_name': 'programming', 'age': 29, 'module': 'yes'}

In [97]:
#how can i add new elements in to dictionary
d1['typed'] = 'Dynamicall typed'
print(d1)

#note:-

{'name': 'c++', 'last_name': 'programming', 'age': 29, 'module': 'yes', 'typed': 'Dynamicall typed'}

In [98]:
d1['typed'] = 'statistically typed'
print(d1)

{'name': 'c++', 'last_name': 'programming', 'age': 29, 'module': 'yes', 'typed': 'statistically typed'}

In [99]:
d1['typed2'] = "dynamiccaly typed"
print(d1)
#Note: if the input keys are preset the value get updated if it is not present new key:value pairs added

{'name': 'c++', 'last_name': 'programming', 'age': 29, 'module': 'yes', 'typed': 'statistically typed', 'typed2': 'dynamiccaly typed'}

In [100]:
#how can we remove the items in dict?
#pop(key)
d1.pop('typed2')
print(d1)

{'name': 'c++', 'last_name': 'programming', 'age': 29, 'module': 'yes', 'typed': 'statistically typed'}

In [101]:
d1 = {
    "name":["python","c++","java"],
    "last_name": "programming",
    "age":29,
    "module":True
}
print(d1)

{'name': ['python', 'c++', 'java'], 'last_name': 'programming', 'age': 29, 'module': True}

In [102]:
#print c++ from d1
# print(d1['name'])
print(d1['name'][1])

c++

In [103]:
d1['name'][1]='c'
print(d1)

{'name': ['python', 'c', 'java'], 'last_name': 'programming', 'age': 29, 'module': True}

In [104]:
#add new items in to the list in name?
d1['name'].append('R')
print(d1)

{'name': ['python', 'c', 'java', 'R'], 'last_name': 'programming', 'age': 29, 'module': True}

In [105]:
#print only R from name of d1?
print(d1['name'][3])

R

In [106]:
#delete java from the name?
del d1['name'][2]
print(d1)

{'name': ['python', 'c', 'R'], 'last_name': 'programming', 'age': 29, 'module': True}

In [107]:
#clear entire dictionar
d1.clear()
print(d1)

{}

In [108]:
d2 = {
    "name":"python",
    "last_name": "programming",
    "age":29,
    "module":True
}
print(d2)

{'name': 'python', 'last_name': 'programming', 'age': 29, 'module': True}

In [ ]:
del d2
print(d2)

In [110]:
#working with loops in dictionary
d3= {'name': ['python', 'c', 'java'],
     'last_name': 'programming',
     'age': 29,
     'module': True}
#print keys() dict by using loops
for i in d3.keys():
  print(i)

name
last_name
age
module

In [111]:
#print the values?
for i in d3.values():
  print(i)

['python', 'c', 'java']
programming
29
True

In [112]:
#by using for loop print key:value pair in separate lines
# for i,j in d3.items():
#   print(i,j)
#i want o/p in dict format?
for x in d3.keys():
  print(f'{x}:{d3[x]}')

name:['python', 'c', 'java']
last_name:programming
age:29
module:True

In [ ]:
#dict-->{}-->unordered, key:value pairs,won't allow duplicates,where values are changable and keys are unchangable
#list-->[]-->ordered,allows the duplicates, mutable
#tuple-->()-->ordered,allows the duplicates, immutable
#set-->{}-->unordered, it wont allow duplicates, immutable

**Escape Characters**

In [113]:
#escape characters are used to print the illegeal characters.
print('dwyane \"The Rock\" Kohnson')
#Note:- give the backward slash before illegel characters

dwyane "The Rock" Kohnson

24-06-2024

**functions**

In [114]:
#Function:- is nothing a block of code which can runs when you call it, where you want
#How ac we create a function?
#A)"def" is th key word
#lets create a function
def f1():
  print("hello world")
  print("this is my first function")
  print("==============================")

In [115]:
#how to call the function
f1()

hello world
this is my first function
==============================

In [116]:
#A function can seen in parameters and arguments

def f2(name):
  print(f'hello {name}')
#call this function
f2("python")

hello python

In [ ]:
#what is an argument?
#defining a varible when you create a function  is knows as parameter
#what is an perameter?
#the value your given to the varaible/parameter when you call the function
#why we are using arguments and paramets?
#both are use  to pass some information.

In [117]:
#How many arguments do we have?
def f2(name):
  print(f'hello {name}')
#call this function
f2("python")

hello python

In [118]:
def f3(nam,age):
  print(f'hello {nam}, you have enetered {age}')
#call this function
f3("python",29)

hello python, you have enetered 29

In [119]:
#use the default parameter  to not rise the error when youar calling the function without argument
def f2(name="user"):  #giving default parameter ="user" you can use the specific string string
  print(f'hello {name}')
#call this function
f2()

hello user

In [120]:
#what do i do when i dont know howmany arguments do i need to pass?
def f2(*name):
  for i in name:
      print(f'hello {i}')
#call this function
f2("python","java","c++","c")

hello python
hello java
hello c++
hello c

In [121]:
#when i don't know how many parameters do i have to pass?
def f4(**name):
  for x in name:
    print(f'hello {x}!')
  print("+++++++++++++++++++++")
f4(Name = "python", last_name = "programming")

hello Name!
hello last_name!
+++++++++++++++++++++

In [122]:
def f4(**name):
  for x,y in name.items():
    print(f'hello {y}!')
  print("+++++++++++++++++++++")
f4(Name = "python", last_name = "programming")

hello python!
hello programming!
+++++++++++++++++++++

In [123]:
print(10,20,30,40,50,60,sep="\n") #print in sep line

10
20
30
40
50
60

In [124]:
def f5(name,age,last_name):
  print(f'hello {name} you have entered {age} and your last name is {last_name}')

f5("python",29,"programming")

hello python you have entered 29 and your last name is programming

In [125]:
def f1(**details):
  print(details)

f1(name="python",last_name="programming",age=29)

{'name': 'python', 'last_name': 'programming', 'age': 29}

In [ ]:
#when i am usin * don't know how many arguments your passing.what default dtype?
#tuple
#when i use ** means don't know how many parameter your passing.what default dtype?
#dictionary

In [126]:

def f1(**details):
  for key,values in details.items():
    print(f'{key} : {values}')


f1(name="python",last_name="programming",age=29)

name : python
last_name : programming
age : 29

In [127]:
#Technical name for * and **
""" *-->args-->arbitrary arguments-->tuple
    **-->kwargs-->keyword arguments-->dictionay
"""

' *-->args-->arbitrary arguments-->tuple\n    **-->kwargs-->keyword arguments-->dictionay\n'

In [128]:
#retur() keyword
def f1(x):
  return x
print(f1(10))

10

In [129]:
#create a sum function
def sum(a,b):
  return a + b
print(sum(2,4))

6

In [130]:
def mul(a,b):
  print(a*b)

mul(2,4)

8

In [ ]:
#create all the arthamatic function-->HW

**List comprehension**

In [131]:
#what is LC?
#A LC offers you smaller line of code that you can use to create new_list from existing list
fruits =['apple','banana','mango','strawberry','Blueberry','grapes']
#create a new list can have letter "a" in the above items
new_list = []
for i in fruits:
  if "a" in i:
    new_list.append(i)
print(new_list)

['apple', 'banana', 'mango', 'strawberry', 'grapes']

In [132]:
a =['apple', 'banana', 'mango', 'kiwi', 'grpes']
new_list = [i for i in a if "a" in i]
print(new_list)

['apple', 'banana', 'mango']

In [ ]:
#[item for items in collection_name apply condition]

In [133]:
#write a program to print multiples of 2 in the new list?
list = [1,2,3,4,5,6,7,8,9,10]
new = [i*2 for i in list]
print(new)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [134]:
#write a program to even numbers in the new list?
list = [1,2,3,4,5,6,7,8,9,10]
new = [i % 2 == 0 for i in list] #boolen output
new1 = [i for i in list if i % 2 == 0] #even numbers
print(new)
print(new1)

[False, True, False, True, False, True, False, True, False, True]
[2, 4, 6, 8, 10]

In [135]:
a =['apple', 'banana', 'mango', 'kiwi', 'grpes']
#print a new list where it doesn't have banana in it?
new_fruit_list = [i for i in a if i != "banana"]
print(new_fruit_list)
#another method
new = [i for i in a if 'banana' not in i]
print(new)

['apple', 'mango', 'kiwi', 'grpes']
['apple', 'mango', 'kiwi', 'grpes']

In [136]:
#write a program to print  numbers greater than 6?
list = [1,2,3,4,5,6,7,8,9,10]
new = [i for i in list if i > 6]
print(new)
new1 = [i>6 for i in list]
print(new1)

[7, 8, 9, 10]
[False, False, False, False, False, False, True, True, True, True]

In [137]:
#using the string methods in the LC
fruits =['apple','banana','mango','strawberry','Blueberry','grapes']
#wrte a prgrom to print the fruits in upper cases?
new = [i.upper() for i in fruits]
print(new)

['APPLE', 'BANANA', 'MANGO', 'STRAWBERRY', 'BLUEBERRY', 'GRAPES']

In [138]:
#Replace the banan with orange by using LC
fruits =['apple','banana','mango','strawberry','Blueberry','grapes']
new = [i.replace('banana','kiwi') for i in fruits]
print(new)

['apple', 'kiwi', 'mango', 'strawberry', 'Blueberry', 'grapes']

In [139]:
#print the range of numbers upt 20 in newlist?
new = [i for i in range(20)]
print(new)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

**Lambda, filter, map**

In [140]:
#what is lambda?
#A lambda is a small anonymous function
#what is anonymous function?
#a function without any name.
def f1(x):
  return x
print(f1(10))

10

In [ ]:
#syntax for lambda
#lambda arguments:expression
#what is expression
#is some statements/ calculations/steps using that values to give single value

In [ ]:
#lambda is an anonymous function whwre it can have many argumnets and 1 expression

In [141]:
#How to call this anonymous function?
#by using the variables
x = lambda a : a +10
print(x(5))

15

In [ ]:
#take many aruments
x = lambda a,b,c:
print(x(5,6,7))

In [ ]:
#creat diff function i..e
#.squre
#cube
#four
#sqrt -->0.5

In [144]:
def squrae(x):
  return x**2
def cube(x):
  return x** 3
def four(x):
  return x ** 4
def sqrt(x):
  return x ** 0.5

In [145]:
print(squrae(5))
print(cube(5))
print(four(5))
print(sqrt(5))

25
125
625
2.23606797749979

In [146]:
def power(n):
  return lambda x: x**n

sq = power(2)
cube = power(3)

sqr = int(input("eneter you squrae number;"))
cub = int(input("enetr cube number: "))

print(sq(sqr))
print(cube(cub))

eneter you squrae number;7
enetr cube number: 2
49
8

In [147]:
x = "Amazon"
print(x)

Amazon

In [148]:
def f1():
  return x
print(f1())

Amazon

In [149]:
#Types of variable
#global variable :- create a varible outside the function
#local variable: creating varible inside the function is known as local variable
def f1():
  x = 'fantastic'
  return x
print(f1())

fantastic

In [150]:
print(x)

Amazon

**Map()**

In [ ]:
#what is map?
#it uses a function on iterables.
#syntax--> map(function,iterable)
#map will run function on every item in a collection

In [151]:
fruits =['apple','banana','mango','strawberry','Blueberry','grapes']
#claculate length of certain fruits from list
print(len(fruits[0]))
print(len(fruits[1]))
print(len(fruits[2]))
print(len(fruits[3]))
print(len(fruits[4]))
print(len(fruits[5]))

5
6
5
10
9
6

In [152]:
length = [len(a) for a in fruits]
print(length)

[5, 6, 5, 10, 9, 6]

In [ ]:
length = list(map(len,fruits))
print(length)
#Note:when your using length function you have to denote/define the data type

In [154]:
length = set(map(len,fruits))
print(length)

{9, 10, 5, 6}

In [ ]:
#cRRATE A FUNCTION THAT WISHE EVERY ONE IN THE DATASET
fruits =['apple','banana','mango','strawberry','Blueberry','grapes']
def f2(x):
  return "hello" +" "+ x
new = list(map(f2,fruits))
print(new)

In [156]:
#when we have to use the maps()?
#map most heavily used when we take the input()
user = input().split()
print(user)
print(type(user))

apple banana orange
['apple', 'banana', 'orange']
<class 'list'>

In [157]:
user = input().split()
number = []
for x in user:
  number.append(int(x))
print(number)
print(type(number))

1 2 3 4 5 6 7
[1, 2, 3, 4, 5, 6, 7]
<class 'list'>

In [158]:
user = input().split()
number = tuple(map(str,user))
print(number)
print(type(number))

7
('7',)
<class 'tuple'>

In [159]:
#write a program to print multiples of 2? use LC and Map
list = [10,20,30,40,50,60,70,80,90,100]
nw_l = [a*2 for a in list]
print(nw_l)

[20, 40, 60, 80, 100, 120, 140, 160, 180, 200]

In [160]:
t = tuple(map(lambda a: a* 2,list))
print(t)

(20, 40, 60, 80, 100, 120, 140, 160, 180, 200)

In [161]:
#use split()
t1=(20, 40, 60, 80, 100, 120, 140, 160, 180, 200)
number = tuple(map(lambda a: a*2,t1))
print(number)

(40, 80, 120, 160, 200, 240, 280, 320, 360, 400)

In [ ]:
#please do the same thing with all arthamatic operation

In [162]:
#write a python program to find factorials of given number?
import math
num = int(input("enter a number: "))
print(math.factorial(num))

enter a number: 7
5040

In [ ]:
#do same program with map()
fact = list(map(math.factorial,map(int, input().split())))
print(fact)

In [167]:
fact = tuple(map(math.factorial, map(int, input().split())))
print(fact)

1  2 5 7
(1, 2, 120, 5040)

**Filter**

In [168]:
#filter(function,iterable)
age = [12,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,8,6]
def adult(x):
  if x >= 18:
    return True
  else:
    return False
# M1 = tuple(map(adult,age))
# print(M1)
#use filter function
f1 = tuple(filter(adult,age))
print(f1)

(18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30)

In [169]:
age = [12,15,18,20,80,90]
def adult(x):
  if x >= 18:
    return True
f1 = tuple(filter(adult,age))
print(f1)

(18, 20, 80, 90)

**Class and Objects**

**how to create a class**

**Attributes types**

In [ ]:

n = 75869
# print(len(n))
count = 0
while n != 0:
  count = count + 1
  # n = n // 10
print(count)

In [ ]:
#write a program to print multiples of 2 in the given list?
list = [1,2,3,4,5,6,7,8,9,10]
new_list = []
for i in list:
  new_list.append(i * 2)
  print(new_list)